/download/includes/config.php
/download/includes/backups/
/download/cache/*
!/download/cache/.htaccess
!/download/cache/sessions/
!/download/cache/templates/
/download/cache/sessions/*
!/download/cache/sessions/index.htm
/download/cache/templates/*
!/download/cache/templates/index.htm
/download/local-work/
/download/addon/top/
*.log
*.bk
*.bak
.env
.env.*
*.pem
*.key
*.pfx
*.p12
