html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-align: center;
}
html, body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

html, input, textarea, select, button {
  text-rendering: auto;
}

.tooltip_templates { display: none; }

/*!body {

	line-height: 14px;
	padding-bottom: 21px;
}*/

body.popup {
	min-width: 0;
	margin: 0;
	padding: 0;
}

body,input,button,select,textarea,td,th,tr,table,button {
	font-family: verdana;
	font-size: 10px;
}

:focus {
	outline: none;
}

input.invalid {
	background-color: red;
	border: 1px solid #FFF;
}

input[type="submit"],input[type="button"],button {
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: hide;
}

table table,img {
	border: 0;
}


table {
	margin: -1px;
	padding: 1px;
}


td {
	vertical-align: middle;
}

input,button {
	margin: 2px;
}

th input {
	margin: 0;
}

th {
	height: 14px;
	text-align: center;
	/*!padding: 4px 6px;*/
}

textarea {
	width: 97%;
}

textarea.tinymce{
	width: 100%;
}

.textForBlind 
{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.centerContainer > .outer {
    float: right;
    right: 50%;
    position: relative;
}
.centerContainer > .outer > .inner {
    float: right;
    right: -50%;
    position: relative;
}

.res_max,.res_current,.res_current_max {
	min-width: 90px;
}

.res_name {
	float: none;
}

.table519{
	min-width: 519px !important;
	width: 519px !important;
}

.table569{
	min-width: 569px !important;
	width: 569px !important;
}

.build_submit {
	z-index: 9999;
    max-width: 100px;
	padding:0;
    word-wrap: break-word;
	white-space: normal;
}

.build_submit:hover {
	z-index: 9999;
	text-decoration: underline;
}

.build_form {
	display: inline;
	position: absolute;
}

.onlist {
    max-width: 100%;
	margin: 0;
	padding: 0;
}

.onlist:hover {
	text-decoration: underline;
}

.shortcut-edit {
	display: none;
}

.clear {
	clear: both;
}

/** HEADER **/
#header {
	padding: 6px 12px;
	margin-left: 14px;
	margin-right: 10px;
	height: 90px;
	min-width: 915px;
	overflow: hidden;
}

#headerTable {
	width: 100%;
	margin-left: 190px;
}

#planetSelectorWrapper {
	width: 145px;
}

#planetSelector {
	float: left;
	height: 16px;
	margin: 37px 10px;
	width: 145px;
}

#planetImage{
	width: 50px;
}

#planetImage > img{
	width: 50px;
	height: 50px;
}

#resourceWrapper{
	height: 63px;
	text-align: center;
	margin: 0;
}

#resourceTable{
	height: 1px;
}

#resourceTable td{
	margin: 0px 0px 0px 5px;
	min-width: 101px;
}

#resourceTable img {
    display: block;
    height: 32px;
    margin: 0 auto;
    width: 47px;
}

#box #planetOv {
    width: 670px;
    overflow: visible;
    position: relative;
    padding: 0;
    /*!margin: -30px auto 1px 8px;*/
    float: left;
}

.c-left {
    height: 39px;
    width: 28px;
    position: absolute;
    top: 264px;
    z-index: 0;
}

.c-leftM {
    height: 39px;
    width: 28px;
    position: absolute;
    top: 214px;
    z-index: 0;
}

.c-left, .c-leftM {
    background: url(//i.imgur.com/jDvTrnK.gif) no-repeat;
    left: 0px;
}

.c-right {
    height: 39px;
    width: 28px;
    position: absolute;
    top: 264px;
    z-index: 0;
}

.c-rightM {
    height: 39px;
    width: 28px;
    position: absolute;
    top: 214px;
    z-index: 0;
}

.c-right, .c-rightM {
    background: url(//i.imgur.com/axUZ8JC.gif) no-repeat;
    left: 642px;
}

#officers {
    height: 32px;
    left: 769px;
    position: absolute;
    text-align: left;
    top: 40px;
    z-index: 3000;
}

#officers img {
    border: 1px solid #000;
    border-radius: 2px;
}

#officers a:link, #officers a:visited, .no-touch #officers a:hover, #officers a:active {
    margin-right: 0;
    text-decoration: none;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.img_commander {
    background: 0px 0px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_commander_inactive {
    background: 0px -32px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_admiral {
    background: -32px 0px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_admiral_inactive {
    background: -32px -32px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_engineer {
    background: -64px 0px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_engineer_inactive {
    background: -64px -32px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_geologist {
    background: -96px 0px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_geologist_inactive {
    background: -96px -32px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}
.img_technocrat {
    background: -128px 0px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

.img_technocrat_inactive {
    background: -128px -32px url(//i.imgur.com/PoHej8v.jpg) no-repeat;
}

/*!
.officer32, #officers a {
    background: url("//i.imgur.com/PoHej8v.jpg") no-repeat;
}
*/

a:link, a:visited, .no-touch a:hover, a:active {
    color: #848484;
}

/** MENU **/

#links{
	width: 173px;
	background-color: transparent;
	float: left;
	overflow: hidden;
}

#leftmenu {
	width: 200px;
	float: left;
}

#menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li {
	margin: 0;
	padding: 0;
}

#menu a {
	display: block;
	margin: 0;
	/*!padding: 4px 20px;*/
}

#links .leftmenu li span.menu_icon {
    float: right;
    width: 38px;
}

#links .leftmenu a, #links .leftmenu a:link, #links .leftmenu a:visited {
    color: #767f88;
    display: block;
    font: bold 11px/25px verdana,arial,helvetica,sans-serif;
    text-decoration: none;
}

a.menubutton:link, a.menubutton:visited, a.menubutton:hover, a.menubutton:active {
    background: url("//i.imgur.com/qvplA7d.png") -374px -258px no-repeat;
    height: 29px;
    text-align: center;
    line-height: 25px;
    width: 136px;
}
#links .leftmenu a, #links .leftmenu a:link, #links .leftmenu a:visited {
    color: #767f88;
    display: block;
    font: bold 11px/25px verdana,arial,helvetica,sans-serif;
    text-decoration: none;
}

#links .leftmenu li a.selected:link, #links .leftmenu li a.selected:visited, .no-touch #links .leftmenu li a.selected:hover, #links .leftmenu li a.selected:active {
    background: url(//i.imgur.com/qvplA7d.png) -374px -287px no-repeat;
    color: #fff;
}

div#disclamer {
	position: relative;
	top: -24px;
	width: 100%;
	text-align: center;
	font-size: 9px;
}

.menu-head {
	height: 78px;
}

.menucat1-head, .menucat2-head, .menucat3-head, .menu-footer{
	height: 30px;
}

#options select {
	max-width: 170px;
}
/* CONTENT */

#buildlist {
	width: 670px;
	float: left;
}

#bar {
    font-size: 11px;
    width: 100%;
    text-align: center;
}

#bar ul {
    margin: 0 auto;
}

ol, ul {
    list-style: none;
}

#bar ul li#playerName {
    margin-right: 1px;
    color: #6f9fc8;
    float: left;
}

#bar ul li {
    display: inline;
    list-style-type: none;
    list-style-position: outside;
    margin: 0 15px 0 0;
}

.contentBoxBody {
	top: 36px;
	position: relative;
	z-index: 1;
}

#netBar .netLogo {
    background: transparent url(//i.imgur.com/wCaD1mo.png) 0 0 no-repeat;
    position: relative;
    cursor: pointer;
    float: left;
    display: block;
    height: 32px;
    width: 245px;
    text-indent: -9980px;
    z-index: 1;
}

#netBar .netLogo:hover {
	background: transparent url(//i.imgur.com/wCaD1mo.png) 1px -32px no-repeat;
}

#netBar a {
    color: #666;
    font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
}

#netBar {
    background: transparent url(//i.imgur.com/UgOjgDM.png) repeat-x;
    font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
    height: 32px;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3000;
}

#netBar #netContent {
    height: 32px;
    margin: 0 auto;
    width: 1024px;
    position: relative;
}

#netBar .netNewsOut {
    width: 800px !important;
}

#netBar {
    font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
}

#boxBG {
    background: transparent url(//i.imgur.com/fGMBJ7P.gif) repeat-x 0 0;
}

#box {
    width: 1000px;
    margin: -4px auto;
    text-align: left;
    position: relative;
}

#page {
	top: 5px;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	text-align: left;
	position: relative;
}

#planetdata {
	float: right;
}

#planetdata {
	width: 365px;
	font-size: 11px;
	height: 123px;
	margin: 40px 130px 0px 0px;
	position: relative;
	white-space: inherit;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #141e26;
	opacity: .6;
	z-index: 1;
	border-radius: 7px 0 0 7px;
}

#planetImg {
	width: 654px;
	height: 300px;
}

#box #links #content {
	overflow: visible;
	position: relative;
	width: 670px;
	min-height: 680px !important;
	padding: 0px 0px 63px 0px;
	float: left;
}

/*!#content, .infobox {
	margin:18px -10px 0 ;
	padding:10px 10px 5px 10px;
	width: 1000px;
	text-align: center;
	position: relative;
}*/

#contentPopUp {
	padding:10px 10px 5px 10px;
	text-align: center;
	position: relative;
}

.full #content > table, .full form > table {
	max-width:100%;
	width:auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.top {
	vertical-align: top;
}


.tooltip {
	cursor: pointer;
	z-index: 9990;
}
.destrucTip {
	cursor: pointer;
	z-index: 9999;
}

.trader_col {
	margin: 0px 5px;
	float: left;
	width: 100px;
}

#globalWarning {
	background-color: #FFFFDD;
	border: 1px solid #F7DF92;
	color: #000000;
	margin: 0px;
	padding: 5px;
	text-align: center;	
    font: normal 10px Verdana,Arial,Helvetica,sans-serif;
    height: 22px;
    line-height: 22px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    z-index: 999999;
    width: 100%;
    clear: both;
}

.globalWarning {
    margin: 0px auto;
    padding-top: 0px;
    width: 1000px;
    height: 22px;
}

.globalWarning a:hover {
	text-decoration:underline;
}

.globalWarning a{
	cursor:pointer;
	color:#D20000;
}

.trader_col label:hover{
	cursor:pointer;
}

.tip {
	display:none;
	padding:7px;
	position:absolute;
	z-index:1000;
	max-width: 300px;
}

.tip.notify {
	position:fixed;
	top:200px;
	padding:20px;
}

.ui-widget, .ui-widget td{
	font-family:Verdana;
	font-size:10px
}

.ui-progressbar {
	height: 10px !important;
}

#buildingsOv .ui-progressbar,#researchOv .ui-progressbar {
	height: 65px !important;
}

.ui-progressbar-value {
	margin:0;
}

#traderContainer {
	margin-top:5px;
}

.infobox {
    border: 2px solid red;
    padding: 2px 5px;
    text-align: center;
}

.shortcut-colum{
	position:relative;
}

.shortcut-delete {
	position:absolute;
	z-index:1;
	top:3px;
	display:none;
	right:3px;
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(../images/false.png) scroll no-repeat 0 0 transparent;
}

.shortcut-colum:hover .shortcut-delete{
	display:block;
}

.spyRaportFooter,
.spyRaportContainer {
	clear:both;
}

.spyRaportContainerRow.first {
	clear:both;
}

.spyRaportContainerHead {
	font-weight:700;
	padding-top:8px;
}
.spyRaportContainerCell {
	float:left;
	width:25%;
}

.spyRaportFooter{
	text-align:center;
	padding-top:8px;
}

table.tablesorter thead {
	position:relative;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	color:lime;
}

table.tablesorter thead tr .headerSortDown {
	color:red;
} 

.defaultSkin table.mceLayout {
	border-spacing: 0;
	width:100% !important;
}
	
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	line-height: 1.5;
}

.ui-autocomplete-item {
	cursor:pointer;
}

#overview #planetList td {
    vertical-align: top;
    white-space: nowrap;
}

@media screen and (max-width: 1165px) {
	body {
		min-width: 0;
		margin: 0;
		padding: 0;
	}
	
	#resourceTable td{
		min-width: 100px;
	}
}

#siteFooter {
    background: transparent url(//i.imgur.com/7eikvIs.gif) repeat-x 0 0;
    color: #848484;
    font: normal 10px Verdana,Arial,Helvetica,sans-serif;
    height: 19px;
    line-height: 19px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    clear: both;
}

#siteFooter .content {
    margin: 0 auto;
    padding-top: 0;
    width: 850px;
    height: 19px;
}

.adviceWrapper {
    float: left;
    position: relative;
    width: 100%;
}

#advice-bar {
    text-align: center;
    width: 130px;
}

#advice-bar .infobox {
    border: 2px solid red;
    padding: 2px 5px;
    text-align: center;
    width: 120px;
    height: auto;
    margin-left: 1px;
}

.imG {
	position: relative;
	z-index: 9981;
	top: -100px;
	left: -37px;
}

.imR {
	position: relative;
	z-index: 9980;
	top: -48px;
	left: 37px;	
}

.imRW {
	position: relative;
	z-index: 9982;
	top: -98px;
	left: -37px;	
}

.lvlN {
	position: relative;
	z-index: 9979;
	top: -18px;
	left: 38px;
}

#contenBoxBody, #box #ovBlock {
	width: 1000px;
	height: 145px;
	overflow: visible;
	position: relative;
	padding: 0;
	/*!float: left;*/
}

#info {
    color: #fff;
    height: 142px;
    margin: 0 auto;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    background-image: url(//i.imgur.com/ONp10Tc.png);
    /*!background-image: url(//i.imgur.com/PDyCn3c.jpg);*/
    background-repeat: no-repeat;
    background-position: 0px 1px;
}