/includes/config.php
/includes/ENABLE_INSTALL_TOOL
*.log
/cache/*
!/cache/.htaccess
!/cache/sessions/
!/cache/templates/
/cache/sessions/*
!/cache/sessions/index.htm
/cache/templates/*
!/cache/templates/index.htm
/vendor/
